<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="main-content">
{{>header}}
   </div>
   <p>SHAH FAISAL</p>
    <img src="/img/yusuf.jpg" class="portrait">
    <p>computer engineer JAMIA MILLIA ISLAMIA</p>
    {{>footer}}
</body>
</html>
